/*Main Styles*/
.banner {
  background-color: wheat;
  padding: 0.6rem;
}

.show-options {
  list-style: none;
}

.show-options li a {
  display: block;
  text-decoration: none;
  text-align: center;

}

/*Menus*/
  .dropdown-main {
    list-style: none;
  }

  .dropdown-main li {
    list-style: none;
  }

  .dropdown-main li a {
    text-decoration: none;
    color: blanchedalmond;
  }

  /* dropdown one */
  #dropdown-one {
  position: absolute;
  color: blanchedalmond;
  background-color: rgb(95, 158, 160);
  box-shadow: 3px 3px 5px #3c3232b1;
  width: 60px;
  text-align: center;
  right: 10%;
  top: 21%;
  }

  .dropdown-items-one {
    display: flex;
    float: inline-flex;
    justify-content: space-between;
    padding: 2px;
  }

  .dropdown-items-one li a {
    position: relative;
    display: block;
    text-align: center;
  }

  /* dropdown two */
  #dropdown-two {
  position: absolute;
  color: blanchedalmond;
  background-color: rgb(95, 158, 160);
  box-shadow: 3px 3px 5px #3c3232b1;
  width: 60px;
  text-align: center;
  right: 5%;
  top: 21%;
  }

  .dropdown-items-two {
    display: flex;
    float: inline-flex;
    justify-content: space-between;
    padding: 2px;
  }

  .dropdown-items-two li a {
    position: relative;
    display: block;
    text-align: center;
  }

@media only screen and (max-width: 786px){
}

/*modals*/
.modal-panel {
  position: absolute;
}

.modal-content-pane {
  position: absolute;
  justify-content: center;
  left: 50%;
  display: block;
  width: 100px;
}

.modal-content img {
  position: fixed;
  width: 600px;
  right: 30%;
  top: 5%;
}

#open-modal {
  color: blanchedalmond;
  background-color: rgb(95, 158, 160);
  box-shadow: 3px 3px 5px #3c3232b1;
  width: 60px;
}

#open-menu {
  color: blanchedalmond;
  background-color: rgb(95, 158, 160);
  box-shadow: 2px 5px 5px #000000cb;
  width: 60px;
}

.show-options {
  position: relative;
  display: block;
  left: 90%;
  justify-content: space-between;
}
