/*Main Styles*/
body {
  background-color: rgba(255, 245, 211, 0.844);
  text-align: center;
  overflow: scroll;
}

.show-options {
  list-style: none;
}
#js-triggers.show-options {
  width: fit-content;
}

.show-options li a {
  display: block;
  text-decoration: none;
  text-align: center;
}

/* Website Text */
section {
  height: fit-content;
}

h1 {
  font-weight: 600;
  background: rgb(95, 158, 160);
  color: #fff;
  padding: 0.5rem;
  text-align: left;
  font-size: 1.7rem;
  margin-top: -16px;
}

h2 {
  color: rgb(95, 158, 160);
  margin-top: 2px;
  text-align: left;
  font-size: medium;
}

h3 {
  margin-top: -6px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: medium;
  color: rgb(95, 158, 160);
}

p {
  margin-top: -14px;
  overflow: hidden;
  text-align: left;
  font-size: smaller;
  font-weight:600;
}

blockquote {
  margin-top: -5px;
  padding-bottom: 4px;
  font-weight: 300;
}

#quotes-text {
  color: brown;
}

/*Menus*/
  .dropdown-main {
    list-style: none;
  }

  .dropdown-main li {
    list-style: none;
  }

  .dropdown-main li a {
    text-decoration: none;
    color: blanchedalmond;
  }

  /* dropdown one */
  #dropdown-one {
  position: absolute;
  color: blanchedalmond;
  width: 60px;
  text-align: center;
  right: 25%;
  top: 4%;
  }

  .dropdown-items-one {
    position: relative;
    display: block;
    justify-content: space-between;
    padding: 1px;
    margin: 0px;
    float: none;
  }

  .dropdown-items-one li a {
    text-align: center;
    display: block;
    box-sizing: content-box;
    margin: 3px;
    border-radius: 20px;
  }

  .dropdown-items-one li a {
    display: none;
  }

  #item-one-outer {
    background-color: rgb(95, 158, 160);
  }

  #item-one-inner {
    background-color: rgb(95, 158, 160);
  }

  #dropdown-one:hover .dropdown-items-one li a{
    display: block;
  }

  /* dropdown two */
  #dropdown-two {
  position: absolute;
  color: blanchedalmond;
  width: 60px;
  text-align: center;
  right:18%;
  top: 4%;
  }

  .dropdown-items-two {
    position: relative;
    display: block;
    justify-content: space-between;
    padding: 1px;
    margin: 0px;
    float: none;
  }

  .dropdown-items-two li a {
    text-align: center;
    display: block;
    box-sizing: content-box;
    margin: 3px;
    border-radius: 20px;
  }

  .dropdown-items-two li a {
    display: none;
  }

  #item-two-outer {
    background-color: rgb(95, 158, 160);
  }

  #item-two-inner {
    background-color: rgb(95, 158, 160);
  }

  #dropdown-two:hover .dropdown-items-two li a{
    display: block;
  }

@media only screen and (max-width: 786px){
  #dropdown-one {
    left: -1%;
    top: 10%;
    z-index: 15;
  }

  #d-one-shrink {
    background-color: rgb(95, 158, 160);
  }

  #dropdown-two {
    left: 7%;
    top: 10%;
    z-index: 15;
  }

  #d-two-shrink {
    background-color: rgb(95, 158, 160);
  }
}

/*modals*/
.modal-background {
  display: flex;
  position: absolute;
  z-index: 5;
  height: 678px;
  width: 100vmax;
  background: #2120214e;
  top: 0%;
  left: 0%;
  overflow: hidden;
  pointer-events: none;
}

.modal-content {
  position: fixed;
  width: 45vmax;
  height: 40vmax;
  right: 26%;
  top: 7%;
  z-index: 10;
  background-color: rgb(132, 210, 255);
}

#open-modal {
  position: absolute;
  color: blanchedalmond;
  width: 60px;
  left: -85%;
  top: -30%;
  font-weight: 100;
}

#open-menu {
  position: absolute;
  color: blanchedalmond;
  width: 60px;
  left: 50%;
  top: -30%;
  font-weight: 100;
}

.show-options {
  position: relative;
  display: block;
  left: 90%;
  justify-content: space-between;
}
